CMakeFiles/
obj-*/
CMakeCache.txt
Makefile
CTestTestfile.cmake
Testing
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*.snap*
*.xlog*
tarantool.log
*~
.gdb_history
./build
/build
VERSION
papers/
