#!/usr/bin/make -f

DEB_CMAKE_EXTRA_FLAGS := -DCMAKE_BUILD_TYPE=RelWithDebInfo
DEB_CMAKE_EXTRA_FLAGS := -DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
                         -DCMAKE_BUILD_TYPE=RelWithDebInfo
DEB_MAKE_CHECK_TARGET := test
DEB_MAKE_ENVVARS := CTEST_OUTPUT_ON_FAILURE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

debian/%.install: debian/%.install.in
	sed -e 's/@DEB_BUILDDIR@/$(DEB_BUILDDIR)/g' \
		-e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' $< > $@

build-indep: debian/tarantool-gis.install debian/tarantool-gis-doc.install
	cd $(DEB_BUILDDIR) && $(MAKE) doc-html
